<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>

</head>
<body>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Order Lookup</a></li>
            <li><a href="/Register">Register</a>
            <li><a href="/ContactUs">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>
    
  <form th:action="@{/}" method="get">
  	<input type="text" name="keyword" th:value="${keyword}"  placeholder="Find Product" size="75" required/>
  	<button type="submit" value = "Search">Search</button>
  	<button type="button" value = "Clear">Clear</button>
  </form>
  
    <table>
    	<tr>
    		<th>item</th>
    		<th>inventory</th>
    		<th>price</th>
    	</tr>
        <tr th:each="currentProduct : ${products}">
        <td th:text="${currentProduct.item}"></td>
        <td th:text="${currentProduct.inventory}"></td>
        <td th:text="${currentProduct.price}"></td>
		<td><a th:href="@{/AddToCart/{id}(id=${currentProduct.id})}">Add to Cart</a></td> 
		<td><a th:href="@{/SaveForLater/{id}(id=${currentProduct.id})}">Save For Later</a></td>   	
        </tr>
    </table>
</body>
</html>