<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
<title>Checkout</title>
</head>
<body>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>
    <h1>Checkout</h1>
    
    <table>
    	<th>brand</th>
    	<th>item</th>
    	<th>price</th>
    	<th>quantity</th>
    	
    	<tr th:each="currentCart : ${cart}">
    	    <td th:text="${currentCart.brand}"></td>
    	    <td th:text="${currentCart.item}"></td>
    	    <td th:text="${currentCart.price}"></td>
    	    <td th:text="${currentCart.quantity}"></td>
		</tr>
		<th>Total</th>
		<td th:text="${newOrder.total}"></td>
    </table>
    <br>
    
	<form th:object="${newOrder}" th:action="@{/Checkout}" method="POST" id="orderForm">
    	First Name:  <input name="fname" id="fname" size="20" required> <br>
    	Last Name: <input name="lname" id="lname" size="20" required><br>
    	Email: <input name="orderEmail" id="orderEmail" size="30" required><br>
    	<br>
    	Card Number: <input name="cardNumber" id="cardNumber" size="16" required><br>
    	Security Code <input name="securityCode" id="securityCode" size="3" required><br>
    	Name On Card: <input name="nameOnCard" id="nameOnCard" size="40" required><br>
    	Expiration Date: <input name="expirationDate" id="expirationDate" size="5" required><br>
    	<input type="hidden" name="orderStatus" id="orderStatus" value="Processing">
    	<button type="submit">Submit</button>
  	</form>
</body>
</html>