<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Project Home page</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Order Lookup</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>

    <h1>Welcome, this page is a starter page for the Music Project</h1>
    <h1>This is the home page!</h1>

    <a href="/AddProduct">Add Product</a>
</body>
</html>