<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>My Music Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">My Music Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/Checkout}">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/Checkout}">Checkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/ContactUs}">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/adminLogin}">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
        	<h3>Mission & Vision</h3>
            <p class="lead">My Music Store was founded in 2023 with the main purpose of being
                    a one-stop destination for all music lovers. We strive to serve musicians from all over the
                    world, providing them with top-quality instruments and exceptional customer service.</p>
                <p class="lead">We hope to grow into a leading online music store, offering a wide range of instruments,
                    accessories, and services. Our commitment to customer satisfaction and our passion for music continues to
                    drive us in delivering the best possible experience to our customers.</p>

        </div>
        <div class="col-md-9">
            <h1 class="text-center"> Welcome to My Music Store </h1>
            <h3 class="text-center">Your one-stop destination for all your musical needs</h3>
            <p class="lead text-center">Find your favorite instruments and enjoy the best shopping experience.</p>
            <section class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2>About Us</h2>
                        <p class="lead">We are an online platform that offers a wide range of musical instruments,
                         accessories, and services for all kinds of musicians. Our mission is to provide the best music experience
                          to our customers by offering high-quality instruments from popular brands and models.</p>
                        <p class="lead">Here, you can easily browse and search for your favorite instruments,
                         create your personal shopping cart, and purchase the instrument of your dreams from a
                          wide variety of products. Our user-friendly interface makes it easy to view each and 
                          every one of our products and quickly add them to your cart.</p>
                    </div>
                </div>
                
            <div>
            	<p class="lead">Want to become a member? <span><a href="/register">Register</a></span></p>
            	<p class="lead">Already a user? <span><a href="/login">Login</a></span></p>
            	<p class="lead">View All Products - <span><a href="/products">Products</a></span></p>
            </div>
            </section>
        </div>
    </div>
    <br>
    <div class="footer text-left">
        <p>&copy; 2023 My Music Store. All Rights Reserved.</p>
    </div>
</div>
</body>

</html>