<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
<title>Invalid Order</title>
</head>
<body>
<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Order Lookup</a></li>
            <li><a href="/Register">Register</a>
            <li><a href="/ContactUs">Contact</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>
    <h1>Sorry, the order you were looking for doesn't exist!</h1>
</body>
</html>