<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Account</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">

</head>
<body>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Order Lookup</a></li>
            <li><a href="/Register">Register</a>
            <li><a href="#">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>
    <h1>Registration</h1>
	<div th:if="${invalidUser}">Please create an account to continue</div>
	<div th:if="${invalidEmail}">This email is already registered</div>
	<div th:if="${invalidPassword}">Passwords do not match</div>
	
	<form th:object="${newUser}" th:action="@{/Register}" method="POST" id="registerUserForm">
	Email: <input name="email" id="email" size="20" th:field="*{email}" required> <br>
	Password: <input name="password" id="password" size="20" th:field="*{password}" required> <br>
	Confirm Password: <input name="confirmPW" id="confirmPW" size="20" th:field="*{confirmPW}" required> <br>
	<button type="submit">Submit</button>
	</form>
</body>
</html>