<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>

<body>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Order Lookup</a></li>
            <li><a href="/Register">Register</a>
            <li><a href="/ContactUs">Contact</a></li>
            <li><a href="/ViewAllProducts">View All Products</a></li>
            <li><a href="/ViewCart">Cart</a></li>
        </ul>
    </nav>
    
 <form th:action="@{/findByKeyword}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search Again" size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit" class="btn btn-info" >Reset</button>
 </form>
 
 
    <table>
    	<th> BRAND </th>
    	<th> ITEM </th>
    	<th> PRICE </th>
    	<tr th:each="currentSaved : ${saved}">
    	    <td th:text="${currentSaved.brand}"></td>
    	    <td th:text="${currentSaved.item}"></td>
    	    <td th:text="${currentSaved.price}"></td>  
		</tr>
    </table>
</body>
</html>